<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <title>Você passsou</title>
</head>
<body>
    <header class="cabecalho">
        <div class="nocabecalho">
            <H1 class="titulo">HomePage!!!</H1>
        </div>
    </header>
    <div class="principal">
        <div class="login">
            <form  class="login">
                <label for="Usuário" class="lbl1">Parabens, você Passou!!!</label>
                <a class="lbl123" href="http://127.0.0.1:5000/logout">Sair</a>
                
                
            </form>    
        </div>
    </div>
</body>
</html>