<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Twiter</title>
</head>
<body>
    <h1>Olá Mundo, Estou no render dos dados</h1>
    <form  method="POST">
        <label for="Usuário cadastrados"></label>
        <div>
            <form action="/" method="post">
                <ul>
                    {% for usuario in usuarios %}
                        <li>{{usuario}} <button type="submit" name="apagar" value="{{usuario.id}}">Apagar</button></li>
                        
                    {% endfor %}
                    <label for="">{{texto}}</label>
                </ul>
            </form>
        </div>
        <a  href="{{ url_for('cadastro') }}"><button type="button">Tela de Cadastro</button></a>
        <a href="{{ url_for('login') }}"><button type="button">Tela de Login</button></a>
        <a href="{{ url_for('redirecionar') }}"><button type="button">Sair</button></a>
    </form>
</body>
</html>